body {
    font-size: 19px;
    text-align: center;
}

#top-bar {
    position: relative;
    height: 70px;
    border: 3px solid orange;
}

#top-bar #features {
    position: absolute;
    top: 25px;
    left: 8%;
    border: 3px solid yellow;
}

#top-bar #pricing {
    position: absolute;
    top: 25px;
    left: 15%;
    border: 3px solid yellow;
}

#top-bar #testimonials {
    position: absolute;
    top: 25px;
    left: 21%;
    border: 3px solid yellow;
}

#top-bar #resources {
    position: absolute;
    top: 25px;
    left: 29%;
    border: 3px solid yellow;
}

#top-bar #logo {
    position: absolute;
    top: 25px;
    left: 49%;
    border: 3px solid yellow;
}

#top-bar #company {
    position: absolute;
    top: 25px;
    right: 26%;
    border: 3px solid yellow;
}

#top-bar #contact {
    position: absolute;
    top: 25px;
    right: 17%;
    border: 3px solid yellow;
}

#top-bar #login-button {
    position: absolute;
    top: 25px;
    right: 8%;
    border: 3px solid yellow;
}

#paragraph1 {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;
    width: 58%;
    font-size: 40px;
    border: 3px solid blue;
}

#paragraph2 {
    position: absolute;
    top: 37%;
    left: 36%;
    height: 50px;
    width: 28%;
    font-size: 30px;
    border: 3px solid blueviolet;
}

#get-start-button {
    position: absolute;
    top: 49%;
    left: 45%;
    font-size: 23px;
    border: 3px solid pink;
}

#picture {
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 40%;
    width: 70%;
    font-size: 50px;
    border: 3px solid green
}
